<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Create Post</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="title"
                    label="Title"
                    :rules="titleRules"
                    required
                    append-icon="mdi-pencil"
                ></v-text-field>
                <v-textarea
                    v-model="description"
                    label="Description"
                    :rules="descriptionRules"
                    counter
                ></v-textarea>

                <div class="text-xs-center">
                    <v-btn
                        :disabled="!valid"
                        color="success lighten-1"
                        @click="validate"
                    >
                        Post
                        <v-icon right dark>mdi-check</v-icon>
                    </v-btn>

                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    data () {
        return {
            valid: false,
            title: '',
            titleRules: [
                v => !!v || 'Title is required',
            ],
            description: '',
            descriptionRules: [
                v => !!v || 'Description is required',
            ],
            apiDomain: "https://demo-api-vue.sanbercloud.com"



        }
    },
    computed : {
        ...mapGetters({
        token     : 'auth/token',
        })
    },
    methods : {

        ...mapActions({
            setAlert : 'alert/set',
        }),

        clear() {
            this.title = ''
            this.description = ''
        },

        close() {
            this.$emit('closed', false)
        },

        validate () {
        this.$refs.form.validate()
        setTimeout( () => {if(this.valid){this.post()}}, 1000);
        },

        post() {
            const config = {
                method: "post",
                url: this.apiDomain + "/api/v2/blog",
                data : {
                    'title' : this.title,
                    'description' : this.description
                },
                headers : { 
                    'Accept' : 'application/json',
                    'Authorization' : `Bearer ${this.token}`}
            };

            this.axios(config)
                .then( (response) => {
                    this.setAlert({
                        status : true,
                        color : 'success',
                        text : "Succesfully posted"
                    })
                    this.clear()
                    this.close()
                    this.$router.push(`/blog`)
                    setTimeout( () => this.$router.push(`/blog/${response.data.blog.id}`), 1000);

                })
                .catch( (response) => {
                    console.log(response)

                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : response.message,
                    })
                })
        }

    },
}
</script>