<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="email"
                    label="E-mail"
                    :rules="emailRules"
                    required
                    append-icon="mdi-email"
                ></v-text-field>
                <v-text-field
                    v-model="password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    label="Password"
                    :rules="passwordRules"
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>
                <v-text-field
                    v-model="name"
                    label="Name"
                    :rules="nameRules"
                    required
                    append-icon="mdi-account"
                ></v-text-field>
                <v-file-input
                    v-model = photo_profile
                    accept="image/*"
                    placeholder="Upload your photo profile"
                    prepend-icon="mdi-camera"
                    required
                    label="Photo Profile"
                    show-size
                    :rules="photoRules"
                ></v-file-input>

                <div class="text-xs-center">
                    <v-btn
                        :disabled="!valid"
                        color="success lighten-1"
                        @click="validate"
                        style="margin-right : 5px"
                        >
                        Register
                        <v-icon right dark>mdi-account-plus</v-icon>
                    </v-btn>
                    <v-btn
                        color="error"
                        @click="reset"
                        >
                        Reset Form
                    </v-btn>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data () {
        return {
            valid: false,
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid',
            ],
            showPassword: false,
            password: '',
            passwordRules: [
                v => !!v || 'Password is required',
            ],
            name: '',
            nameRules: [
                v => !!v || 'Name is required',
            ],
            photo_profile : undefined,
            photoRules: [
                v => !!v || 'Photo profile is required',
                value => !value || value.size < 2000000 || 'Photo profile size should be less than 2 MB!',
            ],
            apiDomain: "https://demo-api-vue.sanbercloud.com"



        }
    },
    methods : {

        ...mapActions({
            setAlert : 'alert/set',
        }),

        clear() {
          this.email = ''
          this.password = ''  
          this.name = ''
          this.photo_profile = undefined
        },

        close() {
            this.$emit('closed', false)
        },

        validate () {
        this.$refs.form.validate()
        setTimeout( () => {if(this.valid){this.submit()}}, 1000);
        },

        reset () {
        this.$refs.form.reset()
        },
        

        submit() {
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('email', this.email)
            formData.append('password', this.password)
            let file = this.photo_profile
            formData.append('photo_profile', file)

            const config = {
                method: "post",
                url: this.apiDomain + "/api/v2/auth/register",
                data : formData,
                headers: {
                    'Accept' : 'application/json'
                },
            };

            this.axios(config)
                .then( (response) => {
                    this.setAlert({
                        status : true,
                        color : 'success',
                        text : response.data.message
                    })
                    this.clear()
                    this.close()
                    setTimeout( () => {this.setAlert({
                        status : true,
                        color : 'success',
                        text : "You can login now!"
                    })}, 3000);

                })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : "Error, This email address is already used, use other email!"
                    })
                })
        }

    },
}
</script>