<template>
    <v-card>
        <alert/>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Update Post</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="title"
                    label="Title"
                    :rules="titleRules"
                    required
                    append-icon="mdi-pencil"
                ></v-text-field>
                <v-textarea
                    v-model="description"
                    label="Description"
                    :rules="descriptionRules"
                    counter
                ></v-textarea>

                <div class="text-xs-center">
                    <v-btn
                        :disabled="!valid"
                        color="success lighten-1"
                        @click="validate"
                    >
                        Update
                        <v-icon right dark>mdi-check</v-icon>
                    </v-btn>

                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import store from '../store/index'

export default {
    
    components: { 
      Alert : () => import('../components/Alert.vue'),
      },

    data () {
        return {
            blog : store.getters['blog/blog'],
            title : store.getters['blog/title'],
            description : store.getters['blog/description'],
            valid: false,
            titleRules: [
                v => !!v || 'Title is required',
            ],
            descriptionRules: [
                v => !!v || 'Description is required',
            ],
            apiDomain: "https://demo-api-vue.sanbercloud.com"
        }
    },
    computed : {
        ...mapGetters({
      token     : 'auth/token',
    })
    },
    methods : {

        ...mapActions({
            selectBlog : 'blog/selectBlog',
        }),

        close() {
            this.$emit('closed', false)
            this.$router.go()
        },

        validate () {
        this.$refs.form.validate()
        setTimeout( () => {if(this.valid){this.update()}}, 1000);
        },
        
        update() {
            let formData = new FormData()
            formData.append('title', this.title)
            formData.append('description', this.description)

            const config = {
                method: 'post',
                url: `https://demo-api-vue.sanbercloud.com/api/v2/blog/${this.blog.id}`,
                params: {
                    _method: "PUT"
                },
                headers: {
                    'Authorization' : 'Bearer ' + this.token,
                },
                data: formData
            }

            this.axios(config)
                .then(() => {
                    // handle success
                    this.setAlert({
                        status : true,
                        color : 'success',
                        text : 'Update success.',
                    })
                    this.$emit('closed', false)
                    this.$router.push(`/blog/${this.blog.id}`)
                    this.selectBlog(undefined)
                    setTimeout( () => this.$router.push(`/kelola`), 1000);
                })
                .catch((response) => {
                    // handle error
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : 'error',
                        text : 'Update failed.'
                    })
                })
        },
        ...mapActions({
        setAlert            : 'alert/set',
        setDialogComponent  : 'dialog/setComponent',
    }),

    },
}
</script>