<template>
    <v-card>
        <alert/>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Upload Photo</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="title"
                    label="Title"
                    :rules="titleRules"
                    required
                    append-icon="mdi-pencil"
                    :disabled=true
                ></v-text-field>
                <v-textarea
                    v-model="description"
                    label="Description"
                    :rules="descriptionRules"
                    counter
                    :disabled=true
                ></v-textarea>
                <v-file-input
                    v-model = photo_blog
                    accept="image/*"
                    placeholder="Upload your blog's photo"
                    prepend-icon="mdi-camera"
                    required
                    label="Blog's Photo"
                    show-size
                    :rules="photoRules"
                ></v-file-input>

                <div class="text-xs-center">
                    <v-btn
                        :disabled="!valid"
                        color="success lighten-1"
                        @click="validate"
                    >
                        Upload
                        <v-icon right dark>mdi-check</v-icon>
                    </v-btn>

                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import store from '../store/index'

export default {

    components: { 
      Alert : () => import('../components/Alert.vue'),
    },
    data () {
        return {
            blog : store.getters['blog/blog'],
            title : store.getters['blog/title'],
            description : store.getters['blog/description'],
            valid : false,
            titleRules: [
                v => !!v || 'Title is required',
            ],
            descriptionRules: [
                v => !!v || 'Description is required',
            ],
            photo_blog : undefined,
            photoRules: [
                v => !!v || 'Photo blog is required',
            ],
            apiDomain: "https://demo-api-vue.sanbercloud.com"
        }
    },
    computed : {
        ...mapGetters({
      token     : 'auth/token',
    })
    },
    methods : {

        ...mapActions({
            selectBlog : 'blog/selectBlog',
        }),
        close() {
            this.$emit('closed', false)
            this.$router.go()
        },

        validate () {
        this.$refs.form.validate()
        setTimeout( () => {if(this.valid){this.submitPhoto()}}, 1000);
        },
        
        submitPhoto : function(){
          let formData = new FormData()
          let file = this.photo_blog
        formData.append('photo', file)
          let config = {
                    method : "post",
                    url : `${this.apiDomain}/api/v2/blog/${this.blog.id}/upload-photo`,
                    data : formData,
                    headers : { 
                        'Authorization' : `Bearer ${this.token}`}
                }
                this.axios(config)
                    .then((response) => {
                        this.setAlert({
                        status : true,
                        color : 'success',
                        text : `Photo upload ${response.data.message}`
                        })
                        this.photo_blog = undefined
                        this.$emit('closed', false)
                        this.$router.push(`/blog/${this.blog.id}`)
                        this.selectBlog(undefined)
                        setTimeout( () => this.$router.push(`/kelola`), 1000);
                    })
                    .catch((error) => {
                        console.log(error)
                    })
          },
        ...mapActions({
        setAlert            : 'alert/set',
        setDialogComponent  : 'dialog/setComponent',
    }),

    },
}
</script>