<template>
    <v-container>
        <alert/>
        <v-btn @click="$router.go(-1)" style="margin-bottom:5px"> Back </v-btn>
        <v-card v-if="blog.id">
            <v-img :src="blog.photo ? apiDomain +blog.photo : 'https://dummyimage.com/450x300/4caf4f/ffffff.png&text=No+Photo'" class="white--text" height="300px" contain>
                <v-card-title class="fill-height align-end" v-text="blog.title">
                </v-card-title>
            </v-img>

            <v-card-text v-if="buttonStatus!='edit'">
                <v-simple-table>
                    <tbody>
                        <tr>
                            <td width=150px><v-icon>mdi-format-title</v-icon> Title </td>
                            <td class="blue--text">{{ blog.title}}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-note</v-icon> Description </td>
                            <td >
                                {{blog.description}} 
                            </td> 
                        </tr>
                        <br>
                    </tbody>
                </v-simple-table>
            </v-card-text>

            <v-container v-if="buttonStatus=='edit'">
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="title"
                    label="Title"
                    :rules="titleRules"
                    required
                    append-icon="mdi-pencil"
                ></v-text-field>
                <v-textarea
                    v-model="description"
                    label="Description"
                    :rules="descriptionRules"
                    counter
                ></v-textarea>

                <div class="text-xs-center">
                    <v-btn
                        :disabled="!valid"
                        color="success lighten-1"
                        @click="validate"
                        style="margin-right:10px"
                    >
                        <v-icon left dark>mdi-check</v-icon>
                        Update
                    </v-btn>

                    <v-btn
                        color="error"
                        @click="clear"
                    >
                    <v-icon left dark>mdi-cancel</v-icon>
                        Cancel
                    </v-btn>
                    

                </div>
            </v-form>
        </v-container>
        <v-container>
            <table v-if="buttonStatus == 'normal' && !guest">
            <td>
                <v-btn @click="edit()" color="warning" style="margin-right:10px"> <v-icon left dark>mdi-wrench</v-icon> Edit </v-btn>
            </td>
            <td>
                <v-btn @click="uploadphoto(blog)" color="success lighten-1" style="margin-right:10px" v-if="blog.photo==null"> <v-icon left dark>mdi-cloud-upload</v-icon> Upload Photo </v-btn>
                <v-btn @click="uploadphoto(blog)" color="success lighten-1" style="margin-right:10px" v-if="blog.photo!=null"> <v-icon left dark>mdi-cloud-upload</v-icon> Update Photo </v-btn>
            </td>
            <br>
            <td>
                <v-btn @click="removeBlog(blog.id)" color="error"> <v-icon left dark>mdi-delete</v-icon> Delete </v-btn>
            </td>
        </table>
            <table width = 30%>
                    <v-file-input
                        v-model = photo_blog
                        accept="image/*"
                        placeholder="Upload your blog's photo"
                        prepend-icon="mdi-camera"
                        required
                        label="Blog's Photo"
                        show-size
                        :rules="photoRules"
                        v-if="buttonStatus == 'upload'"
                    ></v-file-input>
            </table>
            <table>
                <tr>
                    <td>
                        <div class="text-xs-center">
                            <v-btn
                                :disabled="!photo_blog"
                                color="success lighten-1"
                                @click="submitPhoto(iduploadBlog)"
                                v-if="buttonStatus == 'upload'"
                                style="margin-right:10px"
                            >
                                <v-icon left dark>mdi-check</v-icon>
                                Submit Photo
                            </v-btn>

                        </div>
                    </td>
                    <td>
                        <div class="text-xs-center">
                                    <v-btn
                                        color="error"
                                        @click="clear"
                                        v-if="buttonStatus == 'upload'"
                                    >
                                        <v-icon left dark>mdi-cancel</v-icon>
                                        Cancel
                                    </v-btn>

                        </div>
                    </td>
                </tr>
            </table>
        </v-container>
        </v-card> 
    </v-container>
</template>

<script>
import { mapGetters,mapActions } from 'vuex';

export default {

  data: () => ({
    valid: false,
    apiDomain : 'https://demo-api-vue.sanbercloud.com',
    blog: {},
    iduploadBlog: null,
    buttonStatus: 'normal',
    photo_blog: undefined,
    photoRules: [
                v => !!v || 'Photo blog is required',
            ],
    title : null,
    description : null,
    titleRules: [
        v => !!v || 'Title is required',
    ],
    descriptionRules: [
        v => !!v || 'Description is required',
    ],
  }),
  components: { 
      Alert : () => import('../components/Alert.vue'),
  },
  computed : {
    ...mapGetters({
      guest     : 'auth/guest',
      user      : 'auth/user',
      token     : 'auth/token',
    })
  },

  methods : {
    go() {
        let { id } = this.$route.params;

        const config = {
            method : 'get',
            url : `${this.apiDomain}/api/v2/blog/${id}`
        }
            this.axios(config)
            .then(response => {
                let { blog } = response.data;
                this.blog = blog;
            })
            .catch(error => {

                console.log(error);
            });
    },

    ...mapActions({
        setAlert            : 'alert/set',
    }),

    uploadphoto : function(blog){
        this.buttonStatus = 'upload'
        this.iduploadBlog = blog.id
    },   
    
    clear : function(){
        this.go()
        this.buttonStatus = 'normal'
        this.iduploadBlog = null
    },

    edit : function(){
        this.title = this.blog.title
        this.description = this.blog.description
        this.buttonStatus = 'edit'
    },

    removeBlog: function(id){
        if(confirm("Do you really want to delete?")){
        const config = {
            method : "post",
            url :`${this.apiDomain}/api/v2/blog/${id}`,
            params : { _method :"DELETE"},
            headers : { 
                'Authorization' : `Bearer ${this.token}`}
        }
        this.axios(config)
            .then((response) => {
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : response.data.message,
                })
                this.clear()
                setTimeout( () => this.$router.push(`/blog`), 500);
                setTimeout( () =>  this.$router.push(`/blog/${id}`), 1000);
                setTimeout( () => this.$router.push(`/blogs`), 5000);
            })
            .catch((error) => {
                    console.log(error) 
            })
        }
    },
    
    validate () {
    this.$refs.form.validate()
    setTimeout( () => {if(this.valid){this.update()}}, 1000);
    },
        
    update() {
        let formData = new FormData()
        formData.append('title', this.title)
        formData.append('description', this.description)

        const config = {
            method: 'post',
            url: `https://demo-api-vue.sanbercloud.com/api/v2/blog/${this.blog.id}`,
            params: {
                _method: "PUT"
            },
            headers: {
                'Authorization' : 'Bearer ' + this.token,
            },
            data: formData
        }

        this.axios(config)
            .then(() => {
                // handle success
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Update success.',
                })
                this.clear()
            })
            .catch((response) => {
                // handle error
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Update failed.'
                })
            })
    },

    submitPhoto : function(id){
        let file = this.photo_blog
        let formData = new FormData()
        formData.append('photo', file)
        let config = {
                method : "post",
                url : `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
                data : formData,
                headers : { 
                    'Authorization' : `Bearer ${this.token}`}
            }
            this.axios(config)
                .then((response) => {
                    this.clear()
                    this.setAlert({
                    status : true,
                    color : 'success',
                    text : response.data.message,
                    })
                    this.photo_blog = undefined
                })
                .catch((error) => {
                    console.log(error)
                })
        }
    },
      
  created(){
      this.go();
  },
}
</script>