<template>
<v-container class="ma-0 pa-0" grid-list-sm>
    <Dialog/>
    <alert/>
    <v-subheader>
        Blog Manager
    </v-subheader>
    <v-simple-table width="100%" style="word-wrap:break-word;">
        <template v-slot:default>
            <thead>
                <tr>
                <th class="text-left">
                    Foto
                </th>
                <th class="text-left">
                    Title
                </th>
                <th class="text-left">
                    Description
                </th>
                <th class="text-left">
                    Action
                </th>
                </tr>
            </thead>
            <tbody>
                <tr
                v-for="blog in blogs" 
                :key="`blog-`+blog.id"
                :blog="blogs"
                >
                <td style="width:25%">
                    <v-img
                        :src="blog.photo ? apiDomain +blog.photo : 'https://dummyimage.com/450x300/4caf4f/ffffff.png&text=No+Photo'"
                        class="white--text"
                        max-height="150px"
                        max-width="150px"
                        contain
                    ></v-img>
                </td>
                <td style="width:25%">{{ blog.title.substring(0,30) }}</td>
                <td style="width:35%">{{ blog.description.substring(0,500) }}</td>
                <td style="width:10%">
                    <v-btn block color="warning" dark @click="edit(blog)" style="margin-top:2.5px">
                        <v-icon left>mdi-wrench</v-icon>
                            Edit
                    </v-btn>
                    <v-btn block color="red" dark @click="removeBlog(blog.id)" style="margin-top:5px">
                        <v-icon left>mdi-delete</v-icon>
                            Delete
                    </v-btn>
                    <v-btn block color="success" dark @click="upload(blog)" style="margin-top:5px">
                        <v-icon left>mdi-cloud-upload</v-icon>
                            <div v-if="blog.photo"> Update Photo </div>
                            <div v-if="!blog.photo"> Upload Photo </div>
                    </v-btn>
                    <v-btn block @click="$router.push(`/blog/${blog.id}`)" style="margin-top:5px; margin-bottom:2.5px">
                        <v-icon left>mdi-file-find</v-icon>
                        Check
                    </v-btn>
                </td>
                </tr>
            </tbody>
        </template>
    </v-simple-table>
<v-pagination
    v-model="page"
    @input="go"
    :length="lengthPage"
    :total-visible= 7
>
</v-pagination>
</v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import store from '../store/index'

export default {
    data: () => ({
        page : store.getters['blog/page'],
        apiDomain: "https://demo-api-vue.sanbercloud.com",
        blogs : [],
        lengthPage : 0,
        perPage : 0,
        button: 'submit',
        title: '',
        description: '',
        idBlog: '',
    }),
    computed : {
        ...mapGetters({
        guest     : 'auth/guest',
        user      : 'auth/user',
        token     : 'auth/token',
        }),
    },

    components : {    
        Dialog : () => import('../components/Dialog.vue'),
        Alert : () => import('../components/Alert.vue'),
    },

    methods : {
        ...mapActions({
            setAlert            : 'alert/set',
            setDialogComponent  : 'dialog/setComponent',
            selectBlog          : 'blog/selectBlog',
            setPage             : 'blog/setPage',
        }),

        go(){
            const config = {
                method: "get",
                url: this.apiDomain + "/api/v2/blog?page=" + this.page,
            };

            this.axios(config)
                .then( response => {
                    let { blogs } = response.data
                    this.blogs = blogs.data
                    this.setPage(blogs.current_page)
                    this.page = blogs.current_page
                    this.lengthPage = blogs.last_page
                    this.perPage = blogs.per_page

                })
                .catch(
                    error => {
                        console.log(error);
                    }
                );
        },
        edit(blog){
            this.selectBlog(blog)
            this.setDialogComponent({'component' : 'update'})
        },

        removeBlog: function(id){
            if(confirm("Do you really want to delete?")){
                const config = {
                    method : "post",
                    url :`${this.apiDomain}/api/v2/blog/${id}`,
                    params : { _method :"DELETE"},
                    headers : { 
                        'Authorization' : `Bearer ${this.token}`}
                }
                this.axios(config)
                    .then((response) => {
                        this.setAlert({
                                status : true,
                                color : 'success',
                                text : response.data.message,
                                })
                        this.go()
                    })
                    .catch((error) => {
                        console.log(error) 
                        this.setAlert({
                                status : true,
                                color : 'success',
                                text : "Error",
                                })
                        
                    })      
            }
            
        },
        upload(blog){
            this.selectBlog(blog)
            this.setDialogComponent({'component' : 'upload'})
        },
    },
    created(){
        this.go()
    }
}
</script>
